<!DOCTYPE html>
<html>
  <head>
    {{#if isTest}}
    <meta name="robots" content="noindex" />
    {{/if}}
    <title>{{title}}</title>
    <link rel="icon" href="/public/images/trap_logo.png">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <script async src="/public/javascripts/client-scripts/shared.js"></script>
  </head>
  <body>
    <main>
        <div class="image-centered">
            <img src="/public/images/trap_logo.png" >
        </div>
        {{#if isTest}}
        <h3>Този сайт е тестов!!!</h3>
        {{/if}}
        <h1>{{title}}</h1>
        {{#if errors}}
        <div>
            {{#each errors}}
                <div class="alert alert-danger">{{this}}</div>
            {{/each}}
        </div>
        {{/if}}
        {{#if messages}}
        <div>
            {{#each messages}}
                <div class="alert alert-success">{{this}}</div>
            {{/each}}
        </div>
        {{/if}}
        {{{body}}}
    </main>
    <nav>
      {{#ifNotEq title 'Въвеждане на талон'}}
      <a href="/add">Въвеждане на талон</a>
      {{/ifNotEq}}
      {{#ifNotEq title 'Регистрация'}}
      <a href="/register">Регистрация</a>
      {{/ifNotEq}}
      {{#ifNotEq title 'Проверка на карта'}}
      <a href="/check">Проверка на карта</a>
      {{/ifNotEq}}
    </nav>
  </body>
</html>
